@page "/about"
@using DevCraftAspire.Web.Models
@using DevCraftAspire.Web.Clients

<PageTitle>About</PageTitle>

<h1>About</h1>

<p>This is a simple example of a .NET Aspire application that uses Telerik Reporting and Telerik UI for Blazor.</p>

<p>.NET Aspire is an opinionated, cloud ready stack for building observable, production ready, distributed applications. .NET Aspire is delivered through a collection of NuGet packages that handle specific cloud-native concerns. Cloud-native apps often consist of small, interconnected pieces or microservices rather than a single, monolithic code base. Cloud-native apps generally consume a large number of services, such as databases, messaging, and caching.</p>

<h4>Endpoints</h4>

<ul>
    <li><a href="@(ApiServiceUrl)">ApiService Endpoint</a></li>
    <li><a href="@(ApiServiceUrl)/formats">Reporting Formats</a></li>
</ul>

<h4>Telerik Resources</h4>

<ul>
    <li><a href="https://www.telerik.com/products/reporting.aspx">Telerik Reporting</a></li>
    <li><a href="https://www.telerik.com/blazor-ui">Telerik UI for Blazor</a></li>
</ul>



