@page "/"
@using Telerik.ReportViewer.Blazor
@* Important: prerender the ReportViewer *@
@rendermode InteractiveServer

<p>Current Service URL: @ApiServiceUrl</p>

<ReportViewer @ref="ReportViewer1"
              ViewerId="rv1"
              ServiceUrl="@ApiServiceUrl"
              ReportSource="@MyReportSource"
              ScaleMode="@(ScaleMode.Specific)"
              Scale="1.0" />