<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="DevCraftAspire.Web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    @* Problem, 'apiservice' named endpoint doesn't work here
    <script src="http://apiservice/reports/resources/js/telerikReportViewer"></script> *@

    @* Hardcoded workaround *@
    <script src="http://localhost:5423/reports/resources/js/telerikReportViewer"></script>

    <link href="https://kendo.cdn.telerik.com/themes/7.0.2/default/default-main.css" rel="stylesheet" />

    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="@RenderMode.InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Telerik.ReportViewer.Blazor/interop.js" defer></script>
</body>

</html>
