name: "Build Main"
on:
  workflow_dispatch:

env:
  NUGET_CONF_PATH: './nuget.config'

jobs:
  build_app:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '9.0.x'

    - name: Update NuGet Package Sources
      run: dotnet nuget update source "TelerikServer" -s "https://nuget.telerik.com/v3/index.json" -u 'api-key' -p ${{secrets.TELERIK_NUGET_KEY}} --configfile ${{env.NUGET_CONF_PATH}} --store-password-in-clear-text

    - name: Install Aspire 13 preview SDK
      run: powershell -Command "Invoke-Expression (Invoke-RestMethod https://aspire.dev/install.ps1)"
        
    # - name: Install .NET Aspire workload
    #   run: dotnet workload install aspire --ignore-failed-sources

    - name: Restore NuGet packages
      run: dotnet restore --configfile ${{env.NUGET_CONF_PATH}}

    - name: Build solution
      run: dotnet build -c Release --no-restore
