name: "Deploy to Azure"

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  packages: write

env:
  NUGET_CONF_PATH: './nuget.config'
  SOLUTION_PATH: './DevCraftAspire.slnx'

jobs:
  # ensures the latest copy of base images are available before deployment
  update_base_images:
    runs-on: ubuntu-latest
    name: "Update images for ContainerBaseImage"
    steps:
    - uses: ./.github/workflows/update-base-image.yml

  deploy_app:
    runs-on: ubuntu-latest
    needs: update_base_images
    name: "Deploy Application to Azure"
    env:
      ASPIRE_ENVIRONMENT: "aspire2b"
      AZURE_CLIENT_ID: ${{vars.AZURE_CLIENT_ID}}
      AZURE_TENANT_ID: ${{vars.AZURE_TENANT_ID}}
      AZURE_SUBSCRIPTION_ID: ${{vars.AZURE_SUBSCRIPTION_ID}}
      AZURE_ENV_NAME: ${{vars.AZURE_ENV_NAME}}
      AZURE_LOCATION: ${{vars.AZURE_LOCATION}}
      AZURE_CREDS_PROVIDER: "github"
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '9.0.x'

    - name: Update NuGet Package Sources
      run: dotnet nuget update source "TelerikServer" -s "https://nuget.telerik.com/v3/index.json" -u 'api-key' -p ${{secrets.TELERIK_NUGET_KEY}} --configfile ${{env.NUGET_CONF_PATH}} --store-password-in-clear-text
    
      # Installing through scipt because Aspire 13 is not yet released
    - name: Install Aspire 13 preview SDK
      run: |
        curl -sSL https://aspire.dev/install.sh -o install-aspire.sh
        bash install-aspire.sh

    # After v13 is released
    # - name: Install .NET Aspire workload
    #   run: dotnet workload install aspire --ignore-failed-sources

    - name: Restore NuGet packages
      run: dotnet restore ${{env.SOLUTION_PATH}} --configfile ${{env.NUGET_CONF_PATH}}

    - name: Build solution
      run: dotnet build ${{env.SOLUTION_PATH}} -c Release --no-restore
      
    - name: Install azd
      uses: Azure/setup-azd@v1.0.0

    - name: Log into Azure with GitHub Federated Credentials (OpenID)
      shell: pwsh
      run: azd auth login --client-id "${{env.AZURE_CLIENT_ID}}" --tenant-id "${{env.AZURE_TENANT_ID}}" --federated-credential-provider "${{env.AZURE_CREDS_PROVIDER}}"

    - name: Provision Infrastructure
      shell: pwsh
      run: azd provision --no-prompt --environment "${{env.ASPIRE_ENVIRONMENT}}"

    - name: Deploy Application
      shell: pwsh
      run: azd deploy --all --no-prompt --environment "${{env.ASPIRE_ENVIRONMENT}}"
