name: "Deploy to Azure"

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  packages: write

env:
  NUGET_CONF_PATH: './nuget.config'
  SOLUTION_PATH: './DevCraftAspire.slnx'
  REPOSITORY: "lancemccarthy/aspirebase"
  NET8_DOCKER_CONTEXT: ".dockerbuilds/baseimage80"
  NET9_DOCKER_CONTEXT: ".dockerbuilds/baseimage90"

jobs:
  azurecr_base_images:
    name: "Azure CR: Update Aspire Base Images"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Login to azurecr.io
      uses: docker/login-action@v3
      with:
        registry: "mvp10k.azurecr.io"
        username: "mvp10k"
        password: ${{secrets.ACR_PASSWORD}}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: NET 8.0 - Build and Publish Aspire Custom Base Image
      uses: docker/build-push-action@v6
      with:
        context: ${{env.NET8_DOCKER_CONTEXT}}
        push: true
        tags: "mvp10k.azurecr.io/lancemccarthy/aspirebase:8.0"
        platforms: linux/amd64,linux/arm64

    - name: NET 9.0 - Build and Publish Aspire Custom Base Image
      uses: docker/build-push-action@v6
      with:
        context: ${{env.NET9_DOCKER_CONTEXT}}
        push: true
        tags: "mvp10k.azurecr.io/lancemccarthy/aspirebase:9.0"
        platforms: linux/amd64,linux/arm64

  dockerhub_base_images:
    name: "Docker Hub: Update Aspire Base Images"
    runs-on: ubuntu-latest
    env:
      REGISTRY_USERNAME: "mvp10k"
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Login to dockerhub.io
      uses: docker/login-action@v3
      with:
        username: "lancemccarthy"
        password: ${{secrets.DOCKER_PAT}}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: NET 8.0 - Build and Publish Aspire Custom Base Image
      uses: docker/build-push-action@v6
      with:
        context: ${{env.NET8_DOCKER_CONTEXT}}
        push: true
        tags: "lancemccarthy/aspirebase:8.0"
        platforms: linux/amd64,linux/arm64

    - name: NET 9.0 - Build and Publish Aspire Custom Base Image
      uses: docker/build-push-action@v6
      with:
        context: ${{env.NET9_DOCKER_CONTEXT}}
        push: true
        tags: "lancemccarthy/aspirebase:9.0"
        platforms: linux/amd64,linux/arm64

  deploy_app:
    name: "Deploy Application to Azure"
    runs-on: ubuntu-latest
    needs: [dockerhub_base_images,azurecr_base_images]
    env:
      ASPIRE_ENVIRONMENT: "aspire2b"
      AZURE_CLIENT_ID: ${{vars.AZURE_CLIENT_ID}}
      AZURE_TENANT_ID: ${{vars.AZURE_TENANT_ID}}
      AZURE_SUBSCRIPTION_ID: ${{vars.AZURE_SUBSCRIPTION_ID}}
      AZURE_ENV_NAME: ${{vars.AZURE_ENV_NAME}}
      AZURE_LOCATION: ${{vars.AZURE_LOCATION}}
      AZURE_CREDS_PROVIDER: "github"
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '9.0.x'

    - name: Update NuGet Package Sources
      run: dotnet nuget update source "TelerikServer" -s "https://nuget.telerik.com/v3/index.json" -u 'api-key' -p ${{secrets.TELERIK_NUGET_KEY}} --configfile ${{env.NUGET_CONF_PATH}} --store-password-in-clear-text
    
      # Installing through scipt because Aspire 13 is not yet released
    - name: Install Aspire 13 preview SDK
      run: |
        curl -sSL https://aspire.dev/install.sh -o install-aspire.sh
        bash install-aspire.sh

    # After v13 is released
    # - name: Install .NET Aspire workload
    #   run: dotnet workload install aspire --ignore-failed-sources

    - name: Restore NuGet packages
      run: dotnet restore ${{env.SOLUTION_PATH}} --configfile ${{env.NUGET_CONF_PATH}}

    - name: Build solution
      run: dotnet build ${{env.SOLUTION_PATH}} -c Release --no-restore
      
    - name: Install azd
      uses: Azure/setup-azd@v1.0.0

    - name: Log into Azure with GitHub Federated Credentials (OpenID)
      shell: pwsh
      run: azd auth login --client-id "${{env.AZURE_CLIENT_ID}}" --tenant-id "${{env.AZURE_TENANT_ID}}" --federated-credential-provider "${{env.AZURE_CREDS_PROVIDER}}"

    - name: Provision Infrastructure
      shell: pwsh
      run: azd provision --no-prompt --environment "${{env.ASPIRE_ENVIRONMENT}}"

    - name: Deploy Application
      shell: pwsh
      run: azd deploy --all --no-prompt --environment "${{env.ASPIRE_ENVIRONMENT}}"
