name: "Update Base Image"
on:
  workflow_dispatch:

env:
  REPOSITORY: "lancemccarthy/aspirebase"
  NET8_DOCKER_CONTEXT: ".dockerbuilds/baseimage80"
  NET9_DOCKER_CONTEXT: ".dockerbuilds/baseimage90"

jobs:
  azurecr_base_images:
    name: "Azure CR: Update Aspire Base Images"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Login to azurecr.io
      uses: docker/login-action@v3
      with:
        registry: "mvp10k.azurecr.io"
        username: "mvp10k"
        password: ${{secrets.ACR_PASSWORD}}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: NET 8.0 - Build and Publish Aspire Custom Base Image
      uses: docker/build-push-action@v6
      with:
        context: ${{env.NET8_DOCKER_CONTEXT}}
        push: true
        tags: "mvp10k.azurecr.io/lancemccarthy/aspirebase:8.0"
        platforms: linux/amd64,linux/arm64

    - name: NET 9.0 - Build and Publish Aspire Custom Base Image
      uses: docker/build-push-action@v6
      with:
        context: ${{env.NET9_DOCKER_CONTEXT}}
        push: true
        tags: "mvp10k.azurecr.io/lancemccarthy/aspirebase:9.0"
        platforms: linux/amd64,linux/arm64


  dockerhub_base_images:
    name: "Docker Hub: Update Aspire Base Images"
    runs-on: ubuntu-latest
    env:
      REGISTRY_USERNAME: "mvp10k"
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Login to dockerhub.io
      uses: docker/login-action@v3
      with:
        username: "lancemccarthy"
        password: ${{secrets.DOCKER_PAT}}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: NET 8.0 - Build and Publish Aspire Custom Base Image
      uses: docker/build-push-action@v6
      with:
        context: ${{env.NET8_DOCKER_CONTEXT}}
        push: true
        tags: "lancemccarthy/aspirebase:8.0"
        platforms: linux/amd64,linux/arm64

    - name: NET 9.0 - Build and Publish Aspire Custom Base Image
      uses: docker/build-push-action@v6
      with:
        context: ${{env.NET9_DOCKER_CONTEXT}}
        push: true
        tags: "lancemccarthy/aspirebase:9.0"
        platforms: linux/amd64,linux/arm64
